body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1e1e1e;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.menu-item:hover {
  color: #aaa;
}

.content {
  margin-top: 30px; /* Da se vsebina ne prekriva z menijem */
  padding-top: 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;
  background-color: #1e1e1e;
  background-image: none;
  padding: 0px 20px;
}

.product {
  background-color: #222;
  background-image: none;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
}

.product-image {
  background: url("/spletna/assets/images/product-bg.png") center/cover
    no-repeat;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  min-height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border: none;
    margin-bottom: 20px;
}

.center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  max-height: 189px;
}

.product h2 {
  font-size: 18px;
  margin: 15px 0;
  color: #f0f0f0;
}

.product button {
  background-color: #00a9f1;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
}

.product button img.button-icon {
  width: 46px;
  height: 23px;
}

.product button:hover {
  background-color: #0056b3;
}

.bg_t {
  background-image: url("/spletna/assets/images/bg_t.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#komp1{
  all: unset;
}