body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1e1e1e;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.menu-item:hover {
  color: #aaa;
}

.content {
  margin-top: 70px; /* Da se vsebina ne prekriva z menijem */
  padding: 20px;
  text-align: center;
}




.container {
  display: flex;
  margin: 20px;
  gap: 20px;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  gap: 20px;
  
}

.image img {
  width: 375px;
  border-radius: 10px;
}

.specifications {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spec {
  margin-bottom: 20px;
}

select {
  padding: 5px;
  font-size: 1rem;
  margin-top: 10px;
  display: block;
}

.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px; /* Določimo maksimalno širino za skrajšan tekst */
  display: inline-block;
}

.description.expanded {
  white-space: normal; /* Prikaže več vrstic */
  overflow: visible;   /* Prikaže celoten tekst */
  text-overflow: unset;
}

.more {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.more:hover {
  color: #0056b3;
}
